<div id="page_wrapper">
	<h2>My friend's photos</h2>
	<div id="profile_image">
	<%= image_tag "profile.jpg" %>
	<%= image_tag "putho1.jpg" %>
	<%= image_tag "putho2.jpg" %>
	<%= image_tag "putho3.jpg" %>
	<%= image_tag "putho4.jpg" %>
	<%= image_tag "putho5.jpg" %>
	<%= image_tag "putho6.jpg" %>
	</div>

	<div id="content">
	</div>
</div>